* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    color: #fff;
    /* background: #1c1c1c; */
}

#page1 {
    min-height: 90vh;
    background-image: url('./assets/img/google.jpeg')!important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page2 {
    min-height: 90vh;
    background-image: url('./assets/img/bg_grad_gif.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    color: #000;
    min-width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.major-text {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
}

.header-image {
    width: 80vw;
}

.btn-cta {
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: #2c2c2c;
    text-decoration: none;
}

.btn-cta:hover {
    transition: all 0.3s ease-in-out;
    background-color: #2c2c2c!important;
    color: #fff!important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* background-image: url('./assets/img/bg_grad_gif.gif'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50vh;
    height: 50vh;
    border-radius: 50px!important;
}

#play {
    background: linear-gradient(to right, #ffc1d6, #ffe9bd);
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .device {
        font-size: 90px;
    }
    .desktop {
        display: none;
    }
}


/* media query for large device */

@media screen and (min-width: 768px) {
    .device {
        font-size: 200px;
    }
    .mobile {
        display: none;
    }
}